body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }


  .new_toll{
    display: flex;
    flex-direction: column;
    
  }

  .add_new_toll > h2{
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .toll_input{
    display: flex;
    width: 100%;
    height: 30px;
  }

  .vehicle_car{
    display: flex;
    height: 30px;
    width: 100%;
  }

  .dropdown{
    margin-right: 10px;
  }

  .vehicle_fare_details{
    margin: 10px 0 10px 0;
  }

  .add_toll_btn{
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
  }

  .top_btn{
    display: flex;
    padding-right: 30px;
  }

  .top_btn > button {
    margin-right: 10px;
  }

  .all_tolls_popup > h2{
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .all_vehicle_entries{
    margin-left: 30px;
  }

  .field{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.5vh;
  }

  .subheading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .subhead_left{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .search{
    margin-left: 10px;
    width: 220px;
    border-radius: 50px;
}
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 5px 10px;
    background-color: #3474E3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3474E3;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #3474E3;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
